<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">

</head>
<body lang="en">

{{ partial "header.html" . }}

<section id="main">
  <div>
    {{ partial "rooms.html" . }}
    {{ partial "suites.html" . }}
  </div>
</section>

{{ partial "footer.html" . }}