body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #757575;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header, footer, section {
  padding: 20px;
}

header {
  color: white;
  background-color: darkcyan;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

#main {
  flex-grow: 2;
  flex-shrink: 0;
}

footer {
  /*color: white;*/
  /*text-shadow: -1px 0 darkcyan, 0 1px darkcyan, 1px 0 darkcyan, 0 -1px darkcyan;*/
  background-color: lightcyan;
}